body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
text-align: center;
line-height: 1.5;
background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg") ;
}

h2,h3,h4,table,p,ol,ul{

    text-align: left;
    padding-left: 200px;
    
    background-color: rgb(184, 86, 17);
    margin-left: 250px;
    margin-right: 150px;

}

h1{
    font-size: 50px;
    background-color: rgb(184, 86, 17);

}

table{
box-shadow: -5px,5px,6px rgb(156, 75, 17);


}